<div class="keyboard">
  <div class="keyboard-row" *ngFor="let row of keyboard">
    <button
      nz-button
      *ngFor="let key of row"
      (click)="onPress(key.value)"
      style="margin: 2px;"
      [ngClass]="{
        'correct': key.state === state.Correct,
        'incorrect': key.state === state.Incorrect,
        'hint': key.state === state.Hint
      }"
      (mousedown)="$event.preventDefault()"
      (touchstart)="$event.preventDefault()"
    >
      {{ key.value }}
    </button>
  </div>
</div>
