<div class="container">
  <div class="content">
    <app-title [won]="won"></app-title>

    <div class="words-container">
      <div class="grid-container" *ngFor="let word of words">
        <div
          class="letter"
          *ngFor="let letter of word"
          [ngClass]="{
            'correct': letter.state === state.Correct,
            'incorrect': letter.state === state.Incorrect,
            'hint': letter.state === state.Hint
          }">
          {{ letter.value }}
        </div>
      </div>
    </div>

    <div class="retry-button-container">
      <button
        nz-button
        *ngIf="gameOver"
        (click)="resetGame()"
        class="retry-button"
      >
        <i nz-icon nzType="reload" nzTheme="outline"></i>
        Opnieuw spelen
      </button>
    </div>
  </div>

  <div class="keyboard-container">
    <app-keyboard
      #keyboard
      (keyPressed)="addLetterToCurrentGuess($event)"
      (backspacePressed)="removeLastLetter()"
      (enterPressed)="submitGuess()">
    </app-keyboard>
  </div>
</div>
