<div class="container">
  <app-title [won]="won"></app-title>
  <div class="grid-container">
    <ng-container *ngFor="let word of words; let wordIndex = index">
      <ng-container *ngFor="let letter of word; let letterIndex = index">
        <!-- TODO: Track indexes manually instead, and don't use the input with the weird focus hacks anymore. -->
        <input
          [(ngModel)]="letter.value"
          (ngModelChange)="checkFullWordGuess(wordIndex)"
          [ngClass]="{
            'correct': letter.state === state.Correct,
            'incorrect': letter.state === state.Incorrect,
            'hint': letter.state === state.Hint
          }"
          readonly
          class="letter grid-item"
          maxlength="1"
          nz-input
          nzSize="large"
        />
      </ng-container>
    </ng-container>
  </div>
  <button (click)="reloadPage()" class="retry-button" nz-button>
    <i nz-icon nzTheme="outline" nzType="reload"></i>
    Opnieuw
  </button>

  <app-keyboard
    (keyPressed)="addLetterToCurrentGuess($event)"
    (enterPressed)="onKeyboardEnterPress()"
    (backspacePressed)="onKeyboardBackspacePress()">
  </app-keyboard>
</div>
