<div class="container">
  <app-title [won]="won"></app-title>
  <div class="grid-container">
    <ng-container *ngFor="let word of words; ">
      <ng-container *ngFor="let letter of word; ">
        <input
          [(ngModel)]="letter.value"
          [ngClass]="{
            'correct': letter.state === state.Correct,
            'incorrect': letter.state === state.Incorrect,
            'hint': letter.state === state.Hint
          }"
          readonly
          class="letter grid-item"
          maxlength="1"
          nz-input
          nzSize="large"
        />
      </ng-container>
    </ng-container>
  </div>
  <button
    (click)="resetGame()"
    class="retry-button"
    nz-button
    (mousedown)="$event.preventDefault()"
    (touchstart)="$event.preventDefault()"
  >
    <i nz-icon nzTheme="outline" nzType="reload"></i>
    Opnieuw
  </button>

  <app-keyboard
    #keyboard
    (keyPressed)="addLetterToCurrentGuess($event)"
    (enterPressed)="submitGuess()"
    (backspacePressed)="removeLastLetter()">
  </app-keyboard>
</div>
